<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.yks.jdbc.dao.UserMapper">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <resultMap id="userMap" type="com.yks.jdbc.entity.User">
        <result column="user" property="user" jdbcType="VARCHAR"/>
        <result column="plugin" property="plugin" jdbcType="VARCHAR"/>
        <result column="authentication_string" property="authenticationtring" jdbcType="CHAR" />
        <result column="password_expired" property="authentication_string" jdbcType="VARCHAR" />
        <result column="account_locked" property="account_locked"  jdbcType="VARCHAR" />


    </resultMap>

    <select id="queryAll" resultType="com.yks.jdbc.entity.User">
        select user,
                plugin,
                authentication_string,
                password_expired,
                account_locked from `users`
    </select>
</mapper>
